:host {
 .card {
    display: block;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    padding: 8px;
    font-family: sans-serif;
 }
}
