:host {
  display: block;
  width: 100vw;
  height: 50px;
  nav {
    display: flex;
    width: 100vw;
    height: 50px;
    align-content: center;
    a:link,
    a:visited {
      font-family: sans-serif;
      text-decoration: none;
      color: #000000;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
